.text-main{
  display: flex;
  justify-content: center;
  
  
}

.text-main h1{
    color: white;
    font-size: 100px;
    padding-top: 200px;
}

.text-main p{
  color: white;
  font-size: 58px;
  padding-bottom: 10px;
}

.text-hero{
  padding-left: 156px;
  max-width: 800px;
  
}

.button-home{
  width: 200px;
  height: 70px;
  border-radius: 15px;
  font-size: 35px;
  color: white;
  background-color: #546355;
  border-style:none;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s ease;
}

.button-home:hover{
  transition: transform 0.5s ease;
  transform: translateY(4px);
  cursor: pointer;
}

.columns{
  display: flex;
  gap: 20px;
  padding-top: 150px;
}

.column1{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.column1 img{
  width: 267px;
  border-radius: 40px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.column2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 150px;
}

.column2 img{
  width: 267px;
  border-radius: 40px;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.3);
  
}

.clairo{
  transition: transform 0.7s ease;
}

.clairo:hover{
  transform: translateY(-10px);
  transition: transform 0.7s ease;
}


.newdad{
  transition: transform 0.3s ease;
}

.newdad:hover{
  transform: translateY(-10px);
  transition: transform 0.7s ease;
}

.ocean{
  transition: transform 0.3s ease;
}

.ocean:hover{
  transform: translateY(-10px);
  transition: transform 0.7s ease;
}

.doom{
  transition: transform 0.3s ease;
}

.doom:hover{
  transform: translateY(-10px);
  transition: transform 0.7s ease;
}

.toliver{
  transition: transform 0.3s ease;
}

.toliver:hover{
  transform: translateY(-10px);
  transition: transform 0.7s ease;
}
