img{
    border-radius: 30px;
    padding-top: 20px;
  
}
.album-container {
    opacity: 0;
    transform: translateY(10px);
    animation: fadeIn 0.6s ease-out forwards;
    padding-top: 10px;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .album-img {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: transform 0.3s ease;
  
  }
  
  .album-img:hover {
    transform: scale(1.03);
  }

h3{
    color: white;
}

p{
    color: white;
    font-size: 40px;
}

button{
    color: white;
    background-color: rgb(92, 109, 92);
    border-radius: 20px;
    width: 120px;
    height: 40px;
    font-size: 20px;
    transition: transform 0.2s ease-in-out;
    border: 1px;
}

button:hover{
background-color: rgb(85, 97, 85);
transform: scale(1.1);
  cursor: pointer;
}



